<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <title>HOMTEL - REGISTRATION STEP 2</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="apple-touch-icon" sizes="144x144" href="library/ico/apple-touch-icon.png">
    <link rel="shortcut icon" href="{$host}__assets/frontend/ico/favicon.gif">
    <link rel="stylesheet" href="{$host}__assets/frontend/css/bootstrap.css">

    <link href="{$host}__assets/frontend/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="{$host}__assets/plugin/easyui/themes/metro-gray/validatebox.css">
	<link rel="stylesheet" href="{$host}__assets/plugin/easyui/themes/metro-gray/tooltip.css">
    <link href="{$host}__assets/frontend/css/style-register2.css" rel="stylesheet" type="text/css">
	
	<script>
		var host = '{$host}';
		var paa = 'cokslem';
	</script>

    <script src="{$host}__assets/frontend/js/jquery.js"></script>
    <script src="{$host}__assets/frontend/js/bootstrap.min.js"></script>
	<script src="{$host}__assets/plugin/easyui/jquery.easyui.min.js"></script>
	
	<script src="{$host}__assets/js/blockui.js"></script>	
	<script src="{$host}__assets/js/jquery.numeric.js"></script>	
	<script src="{$host}__assets/js/fungsi.js"></script>		
  </head>
  <body id="body-login-homtel">
	<!-- Modal -->
	<div style='z-index:9999999 !important;' class="modal fade" id="pesanModal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<b>Message</b>
					<button id='button_close' type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>
				<div class="modal-body">
					<div id='modalencuk' class="modal-product">
					</div><!-- .modal-product -->
				</div><!-- .modal-body -->
			</div><!-- .modal-content -->
		</div><!-- .modal-dialog -->
	</div>
	<!-- END Modal -->
	
    <div class="form-wrap">
        <form id="regsbro2" method="post" url="{$host}submit-step2-register" enctype="multipart/form-data" >
			<input type='hidden' name='step' value='step-2-registration' />
			<input type='hidden' name="formnu" value='{$formnumber}' />
			{* <input type='hidden' name="brtdate" value='{$datebirth}' /> *}
			<input type='hidden' name="regdate" value='{$registrationdate}' />
			<input type='hidden' name="frstnm" readonly value='{$firstname}' />
			<input type='hidden' name="lstnm" readonly value='{$lastname}'/>
			<input type='hidden' name="emadd" readonly value='{$emailaddr}'/>
			<input type='hidden' name="phmob" value='{$phone}'/>

            <div class="row">
                <div class="col-xs-12 col-md-3 img-resp" >
                    <img src="{$host}__assets/frontend/img/logo-homtel.png">
                </div>

                <div class="col-xs-12 col-md-9 info1">
                    <ul>
                        <li>
                            <label>Form Number</label>
                            <span><input type="text" name="formnu" readonly="" value="{$formnumber}"></span>
                        </li>
                        <li>
                            <label>Registration Date</label>
                            <span ><input style="width: 35%;" type="text" name="regdate" readonly="" value="{$registration_date2}" ></span>
                        </li>
                    </ul>

                    <div class="row">
                        <div class="col-xs-12 col-md-12 info2">
                            <hr style="">
                                <p style="font-size: 16px; font-weight: 700; margin-bottom: 0;">OWNER INFORMATION</p>
                            <hr style="margin-bottom: 20px;">
                            <div class="col-xs-12 col-sm-6 col-md-6 ">
                                <div class="form-row">
                                    <label>
                                        <span>Owner Name (First Name)</span>
                                        <input type="text" name="frstnm" readonly="" value="{$firstname}">
                                    </label>
                                </div>
                                <div class="form-row">
                                    <label>
                                        <span>Owner Name (Last Name)</span>
                                        <input type="text" name="lstnm" readonly="" value="{$lastname}">
                                    </label>
                                </div>          
                                {*
                                <div class="form-row">
                                    <label>
                                        <span>Date Of Birth</span>
                                        <input type="text" name="brtdate" readonly="" value="{$datebirth2}">
                                    </label>
                                </div>
                                *}
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 ">
                                <div class="form-row">
                                    <label>
                                        <span>Email Address</span>
                                        <input style="width:200px;" type="text" name="emadd" readonly="" value="{$emailaddr}">
                                    </label>
                                </div>          
                                <div class="form-row">
                                    <label>
                                        <span>Phone (Mobile)</span>
                                        <input type="text" name="phmob" value="{$phone}" readonly="">
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>        
                </div>
            </div>

            <div class="row info"> 				
				<div class="col-xs-12 col-sm-6 col-md-4 info3">
					<div class="form-row">
                        <label style="width: 90%">
                            <select name="owntype" id="owntype" class="validasi" title="" style="width: 90%; height: 34px;">
                                <option value=""> -- Owner is a -- </option>
                                <option value="1">Individual</option>
                                <option value="2">Corporate / Partnership</option>
                            </select>
                        </label>
                    </div> 
                    <div class="form-row">
                        <label style="width: 90%">
                            <select name="ttl" class="validasi " title="" style="width: 90%; height: 34px;">
                                <option value=""> -- Title -- </option>
                                <option value="Mr.">Mr.</option>
                                <option value="Mrs.">Mrs.</option>
                                <option value="Ms.">Ms.</option>
                            </select>
                        </label>
                    </div>
                    <div class="form-row">
                        <label style="width: 90%">
                            <input style="width: 90%; height: 34px;" type="text" name="idnmb" class="validasi numberbro" title="" placeholder="ID Number (KTP / Passport)">
                        </label>
                    </div>
                    <div class="form-row">
                        <label style="width: 90%">
                            <span>Upload Your ID Number</span>
                            <input style="width: 90%; height: 34px;" type="file" name="fileidnumb">
                        </label>
                    </div>
                    <div class="form-row">
                        <label style="width: 90%">
                            <input style="width: 90%; height: 34px;" type="text" name="plcbirth" class="validasi " title="" placeholder="Place Of Birth">
                        </label>
                    </div>
                    <div class="form-row">
                        <label style="width: 90%">
                            <span>Date Of Birth</span><br/>
                            <select name="tgl" style='width:60px !important;float:left;margin-right:3px;height: 34px;' class='validasi'>
                                {$tgl_lahir}
                            </select> &nbsp;&nbsp;
                            <select name="bln" style='width:80px !important;float:left;margin-right:3px;height: 34px;' class='validasi'>
                                {$bln_lahir}
                            </select> &nbsp;&nbsp;
                            <select name="thn" style='width:80px !important;float:left;height: 34px;' class='validasi'>
                                {$thn_lahir}
                            </select>
                        </label>
                    </div>
                    <div class="form-row">
                        <label style="width: 90%">
                            <textarea style="width: 90%; height: 74px;" name="addr" rows="3" cols="23" class="validasi " title="" placeholder="Address" width="100%"></textarea>
                        </label>
                    </div>  
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4 info5">
                    <div class="form-row">
                        <label style="width: 90%">
                            <input style="width: 90%; height: 34px;" type="text" name="cty" class="validasi " title="" placeholder="City">
                        </label>
                    </div>
                    <div class="form-row">
                        <label style="width: 90%">
                            <input style="width: 90%; height: 34px;" type="text" name="stt" class="validasi " title="" placeholder="State">
                        </label>
                    </div>
                    <div class="form-row">
                        <label style="width: 90%">
                            <input style="width: 90%; height: 34px;" type="text" name="zpco" class="validasi numberbro" title="" placeholder="Zip Code">
                        </label>
                    </div>
                    <div class="form-row">
                        <label style="width: 90%">
                            <input style="width: 90%; height: 34px;" type="text" name="phhom" class="validasi numberbro" title="" placeholder="Phone (Home)">
                        </label>
                    </div>
                    <div class="form-row">
                        <label style="width: 90%">
                            <textarea style="width: 90%; height: 84px;" type="text" name="curroccu" placeholder="Current Occupation"></textarea>
                        </label>
                    </div>
                    <div class="form-row">
                        <label style="width: 90%">
                            <select style="width: 90%; height: 34px;" name="preved">
                                <option value=""> -- Previous Education -- </option><option value="highschool">Highschool</option><option value="s1">S1</option><option value="s2">S2</option><option value="s3">S3</option><option value="d3">D1/D3</option><option value="other">Other</option>
                            </select>
                        </label>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-4 info4">
                    <div id="compeny" style="display: block;">
                        <hr style="">
                            <p style="font-size: 16px; font-weight: 700; margin-bottom: 0;">Fill If Under Corporation/Partnership</p>
                        <hr style="">
                        <div class="form-row">
                            <label style="width: 90%">
                                <span style="width:210px !important;">Name CEO/Managing Partner</span>
                                <input style="width: 90%; height: 34px;" type="text" name="ceopart">
                            </label>
                        </div>
                        <div class="form-row">
                            <label style="width: 90%">
                                <span>Company Name</span>
                                <input style="width: 90%; height: 34px;" type="text" name="compname">
                            </label>
                        </div>
                        <div class="form-row">
                            <label style="width: 90%">
                                <span>Company Address</span><br>
                                <textarea style="width: 90%; height: 34px;" name="compaddr" rows="3" cols="25"></textarea>
                            </label>
                        </div>  
                        <div class="form-row">
                            <label style="width: 90%">
                                <span>Company Phone</span>
                                <input style="width: 90%; height: 34px;" type="text" name="comphone">
                            </label>
                        </div>
                    </div> 
                </div>
			</div>
        </form>
        <div style="text-align: right; padding-bottom: 20px; margin-right: 30px;">
            <button class="btn" onClick="kumpulAction('register-2','{$encoding_email}');" style="background-color: #000; color: #6aabde; font-weight: 700; padding: 10px 40px;">Save</button>
        </div>
    </div>

	
	<script>
		$(".validasi").validatebox({ required:true }); 		
		$(".numberbro").numeric();
		
		/*
		$('#owntype').on('change', function(){
			if($(this).val() == '2'){
				
			}else{
				
			}
		});
		*/
	</script>
  </body>
</html>
