<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Login Homtel Services</title>
	<link rel="stylesheet" href="{$host}__assets/css/style-register.css">
	<link rel="stylesheet" href="{$host}__assets/plugin/easyui/themes/metro-gray/easyui.css">
	<script src="{$host}__assets/js/jquery.js"></script>	
	<script src="{$host}__assets/plugin/easyui/jquery.easyui.min.js"></script>
	<script src="{$host}__assets/js/blockui.js"></script>	
	<script src="{$host}__assets/js/fungsi.js"></script>	
</head>
<body>
	<div class="main-content">
		<form id='frmForgotPass' class="form-labels-on-top" action="{$host}submit-forgot" method="post">
			<div class="form-title-row">
                <h1>Forgot Password</h1>
            </div>
			<div class="form-row">
                <label>
                    <span>Email</span>
                    <input type="text" name="mail" placeholder="Your Mail" class='validasi'>
                </label>
            </div>
			<div class="form-row form-last-row">
                <button type='submit' id='sbmfrgt'>Get Password</button>
            </div>
			<br/>
			<br/>
			
			<a class="form-forgotten-password" href="{$host}">Login Account</a>
			<a class="form-create-an-account" href="{$host}register">Register Account</a>
			
			<div style="text-align:center;margin-top:30px">
				<span style="color:#0000;">Homtel Services &copy; Margahayu Land</span>
			</div>
		</form>
	</div>
	<script>
		$(".validasi").validatebox({ required:true }); 
		$('#brtdate').Zebra_DatePicker();	
		
		$('#sbmfrgt').on('click', function(){
			validasi = $('#frmForgotPass').form('validate');
			if(validasi){
				$.blockUI({ message: '<h3>Processing Data...</h3>' });			
			}
			submit_form('frmForgotPass',function(r){
				if(r==1){
					alert('Please Check Your Email.');
					location.href('{$host}');
				}else{
					alert('Email is already registered.');
				}
			});
		});
		//*/
	</script>
	
</body>
</html>
