<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Login Homtel Services</title>
	<link rel="stylesheet" href="{$host}__assets/css/style-register.css">
	<link rel="stylesheet" href="{$host}__assets/plugin/easyui/themes/metro-gray/easyui.css">
	<link rel="stylesheet" href="{$host}__assets/js/plugins/bootstrapmodal/css/bootstrap.css">
	
	<script src="{$host}__assets/js/jquery.js"></script>	
	<script src="{$host}__assets/js/plugins/bootstrapmodal/js/bootstrap.js"></script>			
	<script src="{$host}__assets/plugin/easyui/jquery.easyui.min.js"></script>
	<script src="{$host}__assets/js/blockui.js"></script>	
	<script src="{$host}__assets/js/jquery.numeric.js"></script>
	<script src="{$host}__assets/js/fungsi.js"></script>	
</head>
<body>
	<div class="main-content">
		<form id='frmForgotPassCode' class="form-labels-on-top" action="{$host}submit-requestcode" method="post">
			<input type='hidden' name='step' value='step-3-finishing' />
			<div class="form-title-row">
                <h1>Verify Registration Code</h1>
            </div>
			<div class="form-row">
                <label>
                    <span>Email Address</span>
					{if isset($email)}
						{assign var=disable value='readonly'}
					{else}
						{assign var=disable value=''}
					{/if}
					
                    <input type="text" name="mail" value="{$email|default:''}" {$disable} class='validasi emailbro'>
                </label>
            </div>
			<div class="form-row">
                <label>
                    <span>Registration Code</span>
                    <input type="text" name="reqcode" placeholder="Check Your Phone To Get Registration Code" class='validasi'>
                </label>
            </div>
			<div class="form-row form-last-row">
                <button type='submit' id='sbmtcode'>Submit</button>
            </div>
			<br/>
			<br/>
						
			<div style="text-align:center;margin-top:30px">
				<span>Homtel Services &copy; Margahayu Land</span>
			</div>
		</form>
	</div>
	
	<!-- Modal -->
	<div style='z-index:9999999 !important;' class="modal fade" id="pesanModal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<b>Message</b>
					<button id='button_close' type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>
				<div class="modal-body">
					<div id='modalencuk' class="modal-product">
					</div><!-- .modal-product -->
				</div><!-- .modal-body -->
			</div><!-- .modal-content -->
		</div><!-- .modal-dialog -->
	</div>
	<!-- END Modal -->
	
	<script>
		$(".validasi").validatebox({ required:true }); 	
		$(".emailbro").validatebox({ validType:'email' }); 
		
		$('#sbmtcode').on('click', function(){
			validasi = $('#frmForgotPassCode').form('validate');
			if(validasi){
				$.blockUI({ message: '<h3>Processing Data...</h3>' });			
			}
			submit_form('frmForgotPassCode',function(r){
				$('#modalencuk').html('');
				$.post('{$host}message-submit', { 'stsn':r, 'tp':'aktivasi' }, function(pg){
					$('#modalencuk').html(pg);
				});
				
				$('#pesanModal').modal('show');
				$.unblockUI();
				
				if(r == 1){
					setTimeout(function () {
						window.location.href = "{$host}"; 
					}, 4000);
				}
			});
			
			return false;
		});
		//*/
	</script>
	
</body>
</html>
